* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.sketch-container {
  display: flex;
  flex-wrap: wrap;
  /* border: red dotted; */
  background-color: bisque;
  width: 600px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sketch-cell {
  background-color: white;
}

.sketch-cell:hover {
  background-color: yellow;
}

.painted {
  background-color: rebeccapurple;
}

.btn {
  font-size: 18px;
  width: 130px;
}

.options-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
