* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5f9ea0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 800px;
  height: 750px;
  background-color: rgb(220, 20, 60);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.board-sketch {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  height: 500px;
  background-color: #dddddd;

  -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.71);
  border-radius: 10px;

  z-index: 1;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sketch-cell {
  box-sizing: border-box;
}

.board-tools {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;

  width: 80px;
  height: 80px;
  border-radius: 40px;

  border: none;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #eee;
}

.color-picker::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #eee;
}

.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "Satisfy", cursive;
  color: #f4ff78;
  letter-spacing: 5px;
}

.btn {
  width: 130px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.5);
}

footer h2 {
  margin: 30px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 100;
}

a:visited {
  color: #000;
}
